<!DOCTYPE html>
<head>
  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>J W Eatson</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

  <link href="https://pvinis.github.io/iosevka-webfont/3.4.1/iosevka.css" rel="stylesheet" /> 

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

  {{ $skeletonstyle := resources.Get "css/skeleton.css" | minify | fingerprint }}
  <link rel="stylesheet" href="{{ $skeletonstyle.Permalink }}">
  <!-- {{ $normalizestyle := resources.Get "css/normalize.css" | minify | fingerprint }}
  <link rel="stylesheet" href="{{ $normalizestyle.Permalink }}"> -->
  

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="apple-touch-icon" sizes="180x180" href="/header-icon/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/header-icon/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/header-icon/favicon/favicon-16x16.png">
  <link rel="manifest" href="/header-icon/favicon/site.webmanifest">

</head>
