{{ partial "head.html" }}

<!-- Primary Page Layout
–––––––––––––––––––––––––––––––––––––––––––––––––– -->

<body data-instant-intensity="mousedown">

<div class="container">
  <hr>
  <div class="row">
    <div class="twelve columns" style="margin-top: 0%">
      <h1>
        <a href="/" style="text-decoration: none;">
        <img class="header-img" src='/header-icon/me.webp' onmouseover="this.src='/header-icon/them-1024.webp';" onmouseout="this.src='/header-icon/me.webp';" />
        </a>
        <a href="/" style="text-decoration: none;">
        JWEATSON<wbr>(.GITHUB.IO)
        </a>
      </h1>

      <nav>
        {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
        <a class="sidebar-nav-item{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active{{end}}" href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a>
        {{ end }}

        <p style="margin-bottom: 0;">
          <a href="https://github.com/atomsite/"><img class="nav-icon" src="/header-icon/github.svg" alt=""></a>

          <a href="https://orcid.org/0000-0002-5160-8871"><img class="nav-icon" src="/header-icon/education.svg" alt=""></a>
        </p>
      </nav>
    </div>
  </div>
  <hr>
</div>
