{{ partial "header.html" . }}

<div class="container">
  <div class="row">
    <img src="/it-me.webp" alt="It's me!" style="width: 100%;">
  </div>
</div>

<section class="container" style="text-align: left;">

  <section class="bio-section" style="text-align: center;">
    <h3>About Me</h3>
    <p style="text-align: left;">
      I am (currently) a planetary formation postdoctoral researcher at the University of Sheffield. I was born approximately {{ div (sub now.Unix 795657600) 1000000 }} megaseconds ago (as of the last time this website was built). I am a theoretician at heart, and my research interests are the formation of planets, stars and clusters. My current research involves the simulation of planetesimals, my previous work involved the simulation of colliding massive stellar winds, so at this point who knows what I will be working on next!
    </p>
  </section>

  <section style="text-align: center;">
    <div>
      <h4>Education</h4>
          <a href="https://ui.adsabs.harvard.edu/abs/2022MNRAS.516.6132E/abstract">PhD in Astrophysics</a>
          <p>
            <small>
              University of Leeds, 2022
            </small>
          </p>
          MPhys in Astrophysics
          <p>
            <small>
              University of Leeds, fin. 2017
            </small>
          </p>
          BSc in Physics
          <p>
            <small>
              University of Leeds, fin. 2016, 2:1
            </small>
          </p>
          A-Levels
          <p>
            <small>
              Enfield Grammar, fin. 2013, AAB
            </small>
          </p>
      </ul>
    </div>
    <br>
  </section>
  <section class="interests-education-section" style="text-align: center;">
    <div class="interests">
      <h4>Interests</h4>
      Numerical simulation
      <br>
      Planet formation
      <br>
      Star cluster evolution
      <br>
      Wasting my money on cameras
      <br>
    </div>
  </section>

  </section>
</section>


{{ partial "footer.html"}}